<!-- -----------------------------------------------FOOTER-------------------------------- -->
<footer class="padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 footer_panel bottom25">
        <h3 class="heading bottom25">About Us<span class="divider-left"></span></h3>
        <a href="index.html" class="footer_logo bottom25"><img src="images/logo-white.png" alt="CCCollab"></a>
        <p>A Peer to Peer Online Learning Platform Created By Students for Students.</p>
        <ul class="social_icon top25">
          <li><a href="#." class="dribble"><i class="icon-mail5"></i></a></li>
          <li><a href="#." class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#." class="twitter"><i class="icon-twitter4"></i></a></li>
          <li><a href="#." class="instagram"><i class="icon-linkedin4"></i></a></li>
       </ul>
      </div>
      <div class="col-md-4 col-sm-4 footer_panel bottom25">
        <h3 class="heading bottom25">Quick Links<span class="divider-left"></span></h3>
        <ul class="links">
          <li><a href="#."><i class="icon-chevron-small-right"></i>Home</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>Courses</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>Become an Instructor</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>Instructors</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>Community</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>Blog</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>About Us</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>Contact Us</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>Terms of Service</a></li>
          <li><a href="#."><i class="icon-chevron-small-right"></i>Privacy Policy</a></li>
          
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 footer_panel bottom25">
        <h3 class="heading bottom25">Keep in Touch <span class="divider-left"></span></h3>
        <p class=" address"><i class="icon-mail"></i>Info@Collab.com</p>
        <p class=" address"><i class="icon-twitter2"></i>@CCCollabSupport</p>
        <p class=" address"><i class="icon-facebook2"></i><a href="#">CCCollab-FaceBook</a></p>
        <p class=" address"><i class="icon-linkedin4"></i><a href="#">CCCollab-LinkedIn</a></p>
        <img src="images/footer-map.png" alt="we are here" class="img-responsive">
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; 2016 <a href="#.">CCCoin LLC</a><br> 
        Created By Students for Students.</p>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------FOOTER ends------------------------------------------->



<script src="js/jquery-2.2.3.js"></script>
         <script>
        
            
            
        </script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootsnav.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery-countTo.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.cubeportfolio.min.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution.extension.navigation.min.js"></script>
<script src="js/revolution.extension.parallax.min.js"></script>
<script src="js/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution.extension.video.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/functions.js"></script>

</body>
</html>