<header>
  
  <nav class="navbar navbar-default navbar-sticky bootsnav pushy">
    <!--  ---------------------------------------Hamburger----------------------- --> 
         
         
        <div class="sidebar_menu">
        
        <nav class="pushmenu pushmenu-left">
        

        
          <a class="push-logo" href="index3.html"><img src="images/logo.png" alt="logo"></a>
         
          <ul class="push_nav centered">
            <li class="dropdown clearfix">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span>01.</span>Home</a>
            <ul class="dropdown-menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="index2.html">CCCollab Marketplace</a></li>
              <li><a href="index3.html">CCCollab Mentoring</a></li>
            </ul>
          </li>
          
          <li class="dropdown clearfix">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>02.</span>Courses</a>
            <ul class="dropdown-menu">
              <li><a href="courses.html">Shop By Courses</a></li>
              <li><a href="course_detail.html">Shop By Instructors</a></li>
            </ul>
          </li>
          
          <li class="dropdown clearfix">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>03.</span>Teach</a>
            <ul class="dropdown-menu">
              <li><a href="event.html">Become An Instructor</a></li>
              <li><a href="event_detail.html">Instructors</a></li>
            </ul>
          </li>
           
            <li class="dropdown clearfix">
              <a href="#." class="dropdown-toggle" data-toggle="dropdown"> <span>04.</span>Info</a>
              <ul class="dropdown-menu clearfix">
                <li><a href="about.html">About</a></li>
                <li><a href="testinomial.html">Testinomial</a></li>
               <li><a href="pricing.html">Pricing</a></li>
                <li><a href="testinomial.html">Privacy Policy</a></li>
               <li><a href="pricing.html">Terms of Service</a></li>
            </ul>
            </li>
            
            <li class="dropdown clearfix">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>05.</span>Community</a>
            <ul class="dropdown-menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog2.html">Forums</a></li>
              <li><a href="blog3.html">Tools</a></li>
              <li><a href="blog_detail.html">Links</a></li>
            </ul>
          </li>
            <li><a href="contact.html"> <span>06.</span> Contact Us</a></li>
          </ul>
          <div class="clearfix"></div>
          <ul class="social_icon black top25 bottom20">
          
          <li><a href="#." class="instagram"><i class="icon-mail"></i></a></li>
          <li><a href="#." class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#." class="twitter"><i class="icon-twitter4"></i></a></li>
          <li><a href="#." class="instagram"><i class="icon-linkedin4"></i></a></li>
        </ul>
        </nav>
      </div>  
    <div class="container"> 
       <div id="menu_bars"  class="open" style="float: left">
        <span class="t1"></span>
        <span class="t2"></span>
        <span class="t3"></span>
      </div>
      
      
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index3.html">
        <img src="images/logo.png" class="logo" alt="">
        </a>
        
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOut">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Home</a>
            <ul class="dropdown-menu">
              <li><a href="index4.html">Home</a></li>
            </ul>
          </li>
     
           <li class="dropdown megamenu-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
              
                   <div class="col-menu col-md-3">
                    <h6 class="title">Academics</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="blog.html">All Academics</a></li>
                        <li><a href="about.html">Humanities</a></li>
                        <li><a href="blog2.html">Science, Technology, Engineering &amp; Math</a></li>
                        <li><a href="blog.html">Social Sciences</a></li>
                      </ul>
                    </div>
                  </div>
                  
                  <div class="col-menu col-md-3">
                    <h6 class="title">Business</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="blog.html">All Business</a></li>
                        <li><a href="blog3.html">Communications</a></li>
                        <li><a href="pricing.html">Data &amp; Analytics</a></li>
                        <li><a href="blog2.html">Entreprenuership &amp; Home Business</a></li>
                        <li><a href="blog.html">Finance &amp; Accounting</a></li>
                        <li><a href="pricing.html">Human Resources</a></li>
                        <li><a href="about.html">Law &amp; Legal</a></li>
                        <li><a href="testinomial.html">Management</a></li>
                       <li><a href="about.html">Real Estate</a></li>
                        <li><a href="teachers.html">Strategy</a></li>
                       <li><a href="about.html">Other</a></li>
                      </ul>
                    </div>
                  </div>
                  
                   <div class="col-menu col-md-3">
                    <h6 class="title">Designer</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="blog.html">All Design</a></li>
                        <li><a href="blog2.html">3D &amp; Animation</a></li>
                        <li><a href="blog3.html">Architecture</a></li>
                        <li><a href="pricing.html">Design Theory</a></li>
                        <li><a href="pricing.html">Design Tools</a></li>
                        <li><a href="about.html">Game Design</a></li>
                       <li><a href="about.html">Graphics Design</a></li>
                        <li><a href="testinomial.html">Interior Design</a></li>
                        <li><a href="teachers.html">User Experience</a></li>
                        <li><a href="blog.html">Web Design</a></li>
                       <li><a href="about.html">Other</a></li>
                      </ul>
                    </div>
                  </div>
                  
                   <div class="row">
                  <div class="col-menu col-md-3">
                    <h6 class="title">Development</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="blog.html">All Development</a></li>
                        <li><a href="about.html">Cloud &amp; Server</a></li>
                        <li><a href="testinomial.html">Database &amp; Admin</a></li>
                        <li><a href="teachers.html">Game Developers</a></li>
                        <li><a href="pricing.html">IT &amp; Technology</a></li>
                        <li><a href="teachers.html">Mobile Developers</a></li>
                        <li><a href="testinomial.html">Network &amp; Security</a></li>
                        <li><a href="about.html">Programming Languages</a></li>
                        <li><a href="pricing.html">Software Developers</a></li>
             <li><a href="pricing.html">Web Developers</a></li>
                        <li><a href="pricing.html">Other</a></li>
                     </ul>
                    </div> 
                  </div>
                  
                  
                      <div class="col-menu col-md-3">
                    <h6 class="title">Education</h6>
                    <div class="content">
                    <ul class="menu-col">
                        <li><a href="blog.html">All Education</a></li>
                        <li><a href="about.html">Education Development</a></li> 
                        <li><a href="testinomial.html">Education Lectures</a></li>
                        <li><a href="blog2.html">Instruction Theory</a></li>
                        <li><a href="blog3.html">Teaching Tools &amp; Programs</a></li>
                      <li><a href="teachers.html">Other</a></li>
                   </ul>
                    </div>
                  </div>
                  
                       <div class="col-menu col-md-3">
                    <h6 class="title">Health &amp; Fitness</h6>
                    <div class="content">
                    <ul class="menu-col">
                        <li><a href="blog.html">All Health &amp; Fitness</a></li>
                        <li><a href="about.html">Dance</a></li> 
                        <li><a href="testinomial.html">Fitness</a></li> 
                        <li><a href="blog2.html">General Health</a></li>
                        <li><a href="about.html">Meditation</a></li>
                        <li><a href="blog3.html">Mental Health</a></li>
                        <li><a href="pricing.html">Nutrition &amp; Dieting</a></li>
                        <li><a href="about.html">Saftey &amp; First Aid</a></li>
                        <li><a href="about.html">Self Defence</a></li>
                        <li><a href="pricing.html">Yoga</a></li>
                        <li><a href="about.html">Other</a></li> 
                   </ul>
                    </div>
                  </div>
                     
                       <div class="col-menu col-md-3">
                    <h6 class="title">Language</h6>
                    <div class="content">
                    <ul class="menu-col">
                        <li><a href="blog.html">All Language</a></li>
                        <li><a href="teachers.html">Chinese</a></li>
                        <li><a href="blog.html">English</a></li>
                        <li><a href="blog3.html">French</a></li>
                        <li><a href="about.html">German</a></li>
                        <li><a href="about.html">Italian</a></li>
                        <li><a href="testinomial.html">Japanese</a></li>
                       <li><a href="pricing.html">Portugese</a></li>
                        <li><a href="pricing.html">Russian</a></li>
                        <li><a href="blog2.html">Spanish</a></li>
                      <li><a href="about.html">Other</a></li>
                   </ul>
                    </div>
                  </div>
                     
                      <div class="col-menu col-md-3">
                    <h6 class="title">Lifestyle</h6>
                    <div class="content">
                    <ul class="menu-col">
                        <li><a href="about.html">All Lifestyle</a></li>
                        <li><a href="blog.html">Arts &amp; Crafts</a></li>
                        <li><a href="blog3.html">Beauty &amp; Make-up</a></li>
                        <li><a href="blog2.html">Food &amp; Beverage</a></li>
                        <li><a href="testinomial.html">Gaming</a></li>
                        <li><a href="teachers.html">Home Improvement</a></li>
                        <li><a href="pricing.html">Pet Care</a></li>
                        <li><a href="about.html">Travel</a></li>
                       <li><a href="pricing.html">Other</a></li>
                   </ul>
                    </div>
                  </div>
                      
                       <div class="col-menu col-md-3">
                    <h6 class="title">Music</h6>
                    <div class="content">
                    <ul class="menu-col">
                        <li><a href="blog.html">All Music</a></li>
                        <li><a href="about.html">Instruments</a></li>
                        <li><a href="blog2.html">Music Fundamentals</a></li>
                        <li><a href="pricing.html">Music Software</a></li>
                        <li><a href="blog3.html">Music Techniques</a></li>
                       <li><a href="testinomial.html">Production</a></li>
                        <li><a href="teachers.html">Vocal</a></li>
                      <li><a href="about.html">Other</a></li>
                   </ul>
                    </div>
                  </div>
                     
                      <div class="col-menu col-md-3">
                    <h6 class="title">Office Products</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="blog.html">All Office Products</a></li>
                        <li><a href="about.html">Adobe</a></li>
                        <li><a href="about.html">Amazon</a></li>
                        <li><a href="blog2.html">Apple</a></li>
                        <li><a href="blog3.html">Google</a></li>
                        <li><a href="teachers.html">Intuit</a></li>
                        <li><a href="blog.html">Microsoft</a></li>
                        <li><a href="pricing.html">Oracle</a></li>
                        <li><a href="testinomial.html">SAP</a></li>
                        <li><a href="pricing.html">Salesforce</a></li>
                        <li><a href="about.html">Other</a></li>
                       </ul>
                    </div>
                  </div>
                     
                      <div class="col-menu col-md-3">
                    <h6 class="title">Personal Development</h6>
                    <div class="content">
                    <ul class="menu-col">
                           <li><a href="blog.html">All Personal Development</a></li>
                        <li><a href="about.html">Career Development</a></li>
                        <li><a href="pricing.html">Creativity</a></li>
                        <li><a href="about.html">Happiness</a></li>
                        <li><a href="pricing.html">Memory &amp; Study Skills</a></li>
                        <li><a href="testinomial.html">Parenting &amp; Relationships</a></li>
                        <li><a href="blog3.html">Personal Finance</a></li>
                        <li><a href="blog2.html">Productivity</a></li>
                        <li><a href="teachers.html">Self Esteem</a></li>
                        <li><a href="about.html">Other</a></li>
                      </ul>
                    </div>
                  </div>
                    
                      <div class="col-menu col-md-3">
                    <h6 class="title">Photography</h6>
                    <div class="content">
                    <ul class="menu-col">
                        <li><a href="about.html">All Photography</a></li>
                        <li><a href="pricing.html">Commercial Photography</a></li>
                        <li><a href="blog.html">Digital Photography</a></li>
                        <li><a href="testinomial.html">Landscape</a></li>
                        <li><a href="teachers.html">Mobile Photography</a></li>
                        <li><a href="about.html">Portraits</a></li>
                        <li><a href="blog2.html">Photography Fundamentals</a></li>
                        <li><a href="blog3.html">Photography Tools</a></li>
                       <li><a href="pricing.html">Travel Photography</a></li>
                        <li><a href="about.html">Wedding Photography</a></li>
                        <li><a href="about.html">Other</a></li>
                   </ul>
                    </div>
                  </div>
                 
                  <div class="col-menu col-md-3">
                    <h6 class="title">Teaching &amp; Education</h6>
                    <div class="content">
                    <ul class="menu-col">
                           <li><a href="blog.html">All Teaching &amp; Education Training</a></li>
                        <li><a href="blog2.html">Teaching &amp; Educating Theory</a></li>
                        <li><a href="blog3.html">Education Development</a></li>
                        <li><a href="about.html">Teaching Tools</a></li>
                        <li><a href="testinomial.html">Talks &amp; Instruction</a></li>
                        <li><a href="about.html">Other</a></li>
                   </ul>
                    </div>
                  </div>
                 
                  <div class="col-menu col-md-3">
                    <h6 class="title">Test Prep</h6>
                    <div class="content">
                    <ul class="menu-col">
                           <li><a href="blog.html">All Test Prep</a></li>
                        <li><a href="blog2.html">Grad Entry Exam</a></li>
                        <li><a href="blog3.html">International High School</a></li>
                        <li><a href="about.html">College Entry Exam</a></li>
                        <li><a href="testinomial.html">Test Taking Skils</a></li>
                        <li><a href="teachers.html">Career Ceritifcations</a></li>
                        <li><a href="pricing.html">CLEP &amp; ASVAB</a></li>
                        <li><a href="pricing.html">ACT &amp; SAT</a></li>
                        <li><a href="about.html">Other</a></li>
                   </ul>
                    </div>
                  </div>
                 
                </div>
              </li>
            </ul>
          </li>
            
             
             
               <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Courses</a>
            <ul class="dropdown-menu">
              <li><a href="courses.html">Shop By Courses</a></li>
              <li><a href="course_detail.html">Shop By Instructors</a></li>
            </ul>
          
          
          
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Teach</a>
            <ul class="dropdown-menu">
              <li><a href="event.html">Become an Instructor</a></li>
              <li><a href="teachers.html">Instructors</a></li>
           </ul>
          </li>
          
         
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Info</a>
            <ul class="dropdown-menu">
             <li><a href="about.html">About</a></li>
               <div class="col-menu col-md-3">
                    <h6 class="title">Designer</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="blog.html">All Design</a></li>
                        <li><a href="blog2.html">3D &amp; Animation</a></li>
                        <li><a href="blog3.html">Architecture</a></li>
                        <li><a href="pricing.html">Design Theory</a></li>
                        <li><a href="pricing.html">Design Tools</a></li>
                        <li><a href="about.html">Game Design</a></li>
                       <li><a href="about.html">Graphics Design</a></li>
                        <li><a href="testinomial.html">Interior Design</a></li>
                        <li><a href="teachers.html">User Experience</a></li>
                        <li><a href="blog.html">Web Design</a></li>
                       <li><a href="about.html">Other</a></li>
                      </ul>
                    </div>
                  </div>
            </ul>
          </li>
          
          
         
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Community</a>
            <ul class="dropdown-menu">
              <li><a href="event.html">Blog</a></li>
              <li><a href="event_detail.html">Forums</a></li>
              <li><a href="event.html">Tools</a></li>
              <li><a href="event_detail.html">Links</a></li>
            </ul>
          </li>
          
      
      
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="">|</a></li>
          <li><a style="font-size: 20px" href=""><i class="fa fa-search"></i></a></li>
          <li><a style="font-size: 20px" href=""><i class="fa fa-shopping-cart"></i> </a></li>
        </ul>
      </div>
    </div>
   
       
        
        
  </nav>

  
</header>


<!-- ---------------------------------------Search----------------------- -->

 
 
 
 <div id="search">
  <button type="button" class="close">×</button>
  <form>
    <input type="search" value="" placeholder="Search here...."  required/>
    <button type="submit" class="btn btn_common yellow">Search</button>
  </form>
</div>