<div class="top top-style2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="flat-information">
                    <li>Mon - Fri: 8.00 - 18:00</li>
                </ul>
                <ul class="flat-socials">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div><!-- col-md-8 -->
            <div class="col-md-4">
                <div class="wrap-flat">
                    <ul class="flat-login-register">
                        <li><a href="">Sign</a></li>
                        <li><a href="">Regester</a></li>
                    </ul>
                </div><!-- wrap-flat -->
            </div><!-- col-md-4 -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- top -->